.head-wrap{
    font-family: 'Oswald', sans-serif;
    background-color: blue;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    }

    .head-wrap p{
        margin-right: auto;
        font-size: 60px;
        color: white;
    }
    .ListItem{
    color: black;
    text-decoration: none;
    margin-right: auto;
    }

    .ListItem {
    margin-right: 1rem;
}

body{
    background-color: wheat;
}

[class^="flex"]{
    width: 1575px;
    height: 570px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 30px 40px;
    box-sizing: border-box;
    border: 1px solid none;
}

.flex1{
    display: block;
    text-align: justify;
    font-size: 30px;
    font-family: sans-serif;
    padding: 30px 40px;
    background-color: wheat;
}

.flex1 b{
    color: blue;
}

img{
    width: 700px;
}

.flex2{
    background-color: wheat;
}

.number{
    border: 1px solid none;
    background-color: blue;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.frequency{
    border: 1px solid none;
    background-color: blue;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

[class^="FlexItem"]{
    width: 1575px;
    height: 570px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 30px 40px;
    box-sizing: border-box;
    border: 1px solid none;
}

.flex3{
    width: 700px;
}

.flex4{
    display: block;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    padding: 30px 40px;
    background-color: wheat;
}

.flex4 h2{
    color: blue;
    font-size: 30px;
}

.flex4 b{
    margin: auto;
    display: flex;
}

.box1,.box2,.box3{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    margin: auto;
}

.skills{
    display: flex;
    justify-content: space-evenly;
}

.title{
    text-align: center;
    font-family: sans-serif;
}

.title h3{
    color: blue;
    font-size: 40px;
}

.great{
    font-size: 30px;
    font-family: sans-serif;
    display: block;
}

span{
    font-size: 54px;
    color: orange;
    background-color: blue;
    padding: 10px;
    border-radius: 60px;
}

.good{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    background-color: blue;
    color: white;
    text-align: center;
    font-family: sans-serif;
    height: 200px;
}